{%- extends "base.html" -%}
{%- from "_formhelpers.html" import nullable_value, colorize_severity, colorize_status, bug_ticket -%}
{% block content %}
			<h1>アドバイザリ</h1>
			{%- if scheduled %}
			<h2>予定</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>日付</th>
						<th>アドバイザリ</th>
						<th>グループ</th>
						<th>パッケージ</th>
						<th>深刻度</th>
						<th class="full size">種別</th>
					</tr>
				</thead>
				<tbody>
				{%- for entry in scheduled %}
				{%- set advisory = entry.advisory %}
				{%- set group = entry.group %}
				{%- set package = entry.package %}
					<tr>
						<td>{{ advisory.created.strftime('%d %b %Y') }}</td>
						<td><a href="/{{ advisory.id }}">{{ advisory.id }}</a></td>
						<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
						<td><a href="/package/{{ package.pkgname }}">{{ package.pkgname }}</a></td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ advisory.advisory_type }}</td>
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
			<h2>公開</h2>
			{%- for month, advisories in published.items() %}
			<h3>{{ month }}</h3>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>日付</th>
						<th>アドバイザリ</th>
						<th>グループ</th>
						<th>パッケージ</th>
						<th>深刻度</th>
						<th class="full size">種別</th>
					</tr>
				</thead>
				<tbody>
				{%- for entry in advisories %}
				{%- set advisory = entry.advisory %}
				{%- set group = entry.group %}
				{%- set package = entry.package %}
					<tr>
						<td>{{ advisory.created.strftime('%d %b %Y') }}</td>
						<td><a href="/{{ advisory.id }}">{{ advisory.id }}</a></td>
						<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
						<td><a href="/package/{{ package.pkgname }}">{{ package.pkgname }}</a></td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ advisory.advisory_type }}</td>
					</tr>
				{%- endfor %}
				</tbody>
			</table>
			{%- endfor %}
{%- endblock %}
