{%- from "_formhelpers.html" import render_field, render_field_unlabeled, render_checkbox -%}
<html>
	<head>
		{%- if title %}
		<title>{{ title }} - Arch Linux セキュリティトラッカー</title>
		{%- else %}
		<title>Arch Linux セキュリティトラッカー</title>
		{%- endif %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel='icon' href='/static/favicon.ico' />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
		<link rel='stylesheet' href='/static/normalize.css' type='text/css' media='all' />
		<link rel='stylesheet' href='/static/style.css' type='text/css' media='all' />
		{%- for feed in ATOM_FEEDS %}
		<link href="{{ url_for(feed.func) }}" rel="alternate" title="{{ feed.title }}" type="application/atom+xml">
		{%- endfor %}
	</head>
	<body>
		<div id="archnavbar">
			<div id="logo"><a href="https://www.archlinuxjp.org/">Arch Linux</a></div>
			<div id="archnavbarmenu">
				<ul id="archnavbarlist">
					<li id="anb-home"><a href="https://www.archlinuxjp.org/" title="Arch ニュース、パッケージ、プロジェクトなど">ホーム</a></li>
					<li id="anb-packages"><a href="https://www.archlinuxjp.org/packages/" title="Arch パッケージデータベース">パッケージ</a></li>
					<li id="anb-forums"><a href="https://bbs.archlinuxjp.org/" title="コミュニティフォーラム">フォーラム</a></li>
					<li id="anb-wiki"><a href="https://wiki.archlinuxjp.org/" title="コミュニティドキュメント">ArchWiki</a></li>
					<li id="anb-bugs"><a href="https://slack.archlinuxjp.org/" title="チャット">Slack</a></li>
					<li id="anb-security"><a href="https://security.archlinux.org/" title="Arch Linux セキュリティトラッカー">セキュリティ</a></li>
					<li id="anb-aur"><a href="https://aur.archlinux.org/" title="Arch Linux User Repository">AUR</a></li>
					<li id="anb-download"><a href="https://www.archlinuxjp.org/download/" title="Arch Linux を入手">ダウンロード</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="navbar">
				<ul>
					<li><a href="/">インシデント</a></li>
					<li><a href="/advisory">アドバイザリ</a></li>
					<li><a href="/todo">todo</a></li>
					{%- if not current_user.is_authenticated %}
					<li><a href="/login" accesskey="l">ログイン</a></li>
					{%- else %}
					<li><a href="/user">ユーザー</a></li>
					<li><a href="/cve/add">CVE を追加</a></li>
					<li><a href="/avg/add">AVG を追加</a></li>
					<li><a href="/profile">プロフィール</a></li>
					<li><a href="/logout" accesskey="q">ログアウト</a></li>
					{%- endif %}
				</ul>
			</div>
			<hr />
			{%- with messages = get_flashed_messages(with_categories=true) -%}
			{% if messages %}
			{%- for category, message in messages %}
			<div class="box {{ category }}">{{ message }}</div>
			{%- endfor -%}
			{%- endif -%}
			{%- endwith -%}
			{%- block content -%}{%- endblock %}
		</div>
	</body>
</html>
