{%- extends "base.html" -%}
{% block content %}
			<h1>ログイン</h1>
			<div class="tiny size">
				<form action="" method="post" name="login">
					{{ form.hidden_tag() }}
					<div class="row">
						<div class="single columns">
							{{ render_field(form.username, class='full size', maxlength=User.NAME_LENGTH, placeholder='ユーザー名', autofocus='', required='', indent=7) }}
						</div>
					</div>
					<div class="row">
						<div class="single columns">
							{{ render_field(form.password, class='full size', placeholder='パスワード', required='', maxlength=password_length.max, indent=7) }}
						</div>
					</div>
					{{ form.login(class='button-primary') }}
				</form>
			</div>
{%- endblock %}
